@model IEnumerable<CookBook.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookBook</title>
    <link rel="stylesheet" href="~/css/recipe.css" />
</head>
<body>
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @Html.DisplayNameFor(model => model.Name)

    @Html.DisplayNameFor(model => model.Description)

    @Html.DisplayNameFor(model => model.CookingTime)
    <div class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="recipeElement">

                    <div class="recipeElementName">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>

                    <div class="recipeElementTime">
                        @Html.DisplayFor(modelItem => item.CookingTime)
                    </div>

                    <div class="recipeElementDesc">
                        @((!String.IsNullOrEmpty(item.Description) && item.Description.Length > 50) ?
                            item.Description.Substring(0, 50)+"..."
                            :
                            item.Description)
                    </div>

                </div>
            </a>
        }
    </div>
</body>
</html>